

div.container {
    margin: 0 auto;
    width: 960px;
}
div.subcontainer {
    margin: 0 auto;
    width: 700px;
}
div.subsubcontainer {
    margin: 0 auto;
    width: 700px;
}

ul#ulform li {
    list-style-type: none;
    display: inline;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
ul#ulform {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
div.fcreatetugas {
    width: 350px;
}
div#divinfo {
    float:right;
}
div#divform {
    float:left;
}
div#divinfo div {
    margin: 0 0 0 0;
    padding-left: 0%;
}
form#fcreatetugas {
    
}
div#judul {
    
}
td.kolom1 {
    
}
a.teks1 {
    font-family: Verdana;
    font-size: 12;
}
form#fcreatetugas input {
    width: 80%;
}
.iteks {
    text-align: center;
    font-size: 20px;
}
input#infojudul {
    width: 100%;
}
input#infoassignee {
    width: 100%;
}
input#infonama {
    width: 73%;
}
input#infoext {
    width: 25%;
}
input.infotag {
    width: 100;    
}
input.infokalender {
    width: 32%;    
}
select.nkalender {
    width: 26%;
}
img#infogambar {
    width: 0;
}
form#fcreatetugas input#submit {
    font-size: 30;
}




